/*Google fonts import*/
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

/* el messiri */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

/*CSS Variables*/
:root {
    --primary-color: #595736; /*brown*/
    --secondary-color: #BDD9F2; /*light blue*/
    --tertiary-color: #bfa29b; /*beige*/
    --quartenary-color: #3e5916; /*dark green*/
}

/*General styles*/
body {
    font-family: 'El Messiri', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Navbar */
#navbar {
    background-color: white;
    box-shadow: 0 10Px 10px var(--primary-color);
    padding: 1rem;
}

.logo {
    width: 120px;
}


/*Hero Image*/
#hero {
    height: 500px;
    width: 100%;
    background: url(../images/llynfi-1.jpg) no-repeat center center/cover;
    color: #260601;
    background-color: #3e5916;
    }

    
#cover-text {
    background-color: rgba(168, 191, 132, .7);
    font-size: 150%;
    text-transform: uppercase;
    position: relative;
    top: 30px;
    width: 77%;
    min-height: 50px;
    padding-top: 10px;
    padding-left: 10px;

}

/*Main section*/
.card {
    color:#260601;
    background-color: var(--tertiary-color);
    font-family: 'Poppins', sans-serif;
    
}
.card-header {
    font-size: 2rem;
    font-weight: bold;
}


/*About section*/
#about {
    padding: 2rem 0;
}

/*Membership Section*/

/* This targets all list items within the prices list */
.prices .list-group-item {
    background-color: var(--secondary-color); 
}


/* Contact Us Section */
#contact {
    padding: 2rem 0;
}

h3 {
    font-size: 1.4rem; /* Adjust font size to fit better */
    margin-bottom: 20px; /* Add space below the heading */
    font-weight: 700;
    text-align: center; 
    color: var(--primary-color);
}
.no-underline {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.no-underline i {
    margin-right: 10px; /* Space between icon and text */
}



/* Icons */
#contact i {
    color: var(--secondary-color);
    font-size: 2rem;
}


.row {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col span {
    margin-left: 8px; /* Slight space between icon and text */
}


/*Footer*/
footer {
    background-color:var(--quartenary-color);
    padding-top: 20px;
}

#social-networks {
    list-style-type: none;
}

#social-networks i {
    font-size: 24px;
    margin-right: 10px;
    color: var(--secondary-color);
}

/* Media query for smaller screens (optional) */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col {
        text-align: center;
    }